.blue {
  background-color: blue;
}
.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
